
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <h2>Welcome @HttpContext.Current.User.Identity.Name</h2>
    </div>

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

            <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>


}


