
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>VerifyAccount</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status) == true)
{
    <div class="alert alert-success">
        <strong> Success! </strong> Your email has been verified! Click here to @Html.ActionLink("Login", "Login")
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong> Error! </strong> @ViewBag.Message
    </div>
}